.dropdown-player{
    display: flex!important;
    justify-content: center;
    margin-top: -80px;
}
.icon{
    width: 2em!important;
    height: 2em!important;
}
.player-form{
    margin-top: 50px!important;
    padding: 20px!important;
}
.teamimg{
    width: 250px!important;
    height: 250px!important;
}
.border{
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}
.link{
    text-decoration:none;
    color: black;
}
.shadowcard{
    padding: 10px; 
}
.shadowcard:hover{
    border: 2px solid;
    box-shadow: 7px 10px #888888;
}